# Limpieza y Análisis de Datos con Pandas

Este notebook trabaja con el archivo `screentime_analysis_extended.csv`.

Objetivos:
1. Cargar datos y explorarlos.
2. Detectar y tratar valores nulos.
3. Eliminar duplicados.
4. Arreglar tipos de datos.
5. Limpiar texto.
6. Detectar columnas vacías y borrarlas.
7. Guardar el dataset limpio.
8. Hacer un mini análisis final.

## 1. Carga de los datos

In [5]:
import pandas as pd

# Cargar el CSV (ajusta la ruta si lo tienes en otra carpeta)
df = pd.read_csv("screentime_analysis_extended.csv")

# Vista rápida de las primeras filas
display(df.head())

# Información general de columnas y tipos
df.info()

# Estadísticas básicas (incluyendo texto)
display(df.describe(include='all'))

,user_id,app_name,screen_time(min),notifications,date,comentarios
0,1001,Instagram,45.0,10.0,2024-05-12,NaN
1,1002,WhatsApp,60.0,12.0,2024-05-12,NaN
2,1003,YouTube,120.0,8.0,2024-05-13,NaN
3,1004,Telegram,30.0,5.0,2024-05-14,NaN
4,1021,Instagram,NaN,14.0,2024-05-12,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           17 non-null     int64
 1   app_name          17 non-null     object
 2   screen_time(min)  15 non-null     float64
 3   notifications     15 non-null     float64
 4   date              16 non-null     object
 5   comentarios       0 non-null      float64
dtypes: float64(3), int64(1), object(2)
memory usage: 948.0+ bytes

,user_id,app_name,screen_time(min),notifications,date,comentarios
count,17.000000,17,15.000000,15.000000,16,0.0
unique,NaN,12,NaN,NaN,5,NaN
top,NaN,WhatsApp,NaN,NaN,2024-05-13,NaN
freq,NaN,3,NaN,NaN,6,NaN
mean,1039.823529,NaN,82.000000,8.666667,NaN,NaN
std,28.089667,NaN,34.111163,3.677473,NaN,NaN
min,1001.000000,NaN,30.000000,3.000000,NaN,NaN
25%,1004.000000,NaN,55.000000,5.500000,NaN,NaN
50%,1055.000000,NaN,90.000000,8.000000,NaN,NaN
75%,1063.000000,NaN,110.000000,12.000000,NaN,NaN
max,1071.000000,NaN,130.000000,15.000000,NaN,NaN

## 2. Limpieza y preparación de datos

In [7]:
# Conteo de valores nulos por columna
print("Valores nulos por columna:")
print(df.isna().sum())

# Rellenar NaN en columnas numéricas clave con valores por defecto
df.fillna({'screen_time(min)': 0, 'notifications': 0}, inplace=True)

# Eliminar filas que no tengan app o tiempo de pantalla (esenciales para análisis)
df.dropna(subset=['app_name', 'screen_time(min)'], inplace=True)

print('\nDespués de limpieza de NaN:')
print(df.isna().sum())

display(df.head())

Valores nulos por columna:
user_id              0
app_name             0
screen_time(min)     2
notifications        2
date                 1
comentarios         17
dtype: int64

Después de limpieza de NaN:
user_id              0
app_name             0
screen_time(min)     0
notifications        0
date                 1
comentarios         17
dtype: int64

,user_id,app_name,screen_time(min),notifications,date,comentarios
0,1001,Instagram,45.0,10.0,2024-05-12,NaN
1,1002,WhatsApp,60.0,12.0,2024-05-12,NaN
2,1003,YouTube,120.0,8.0,2024-05-13,NaN
3,1004,Telegram,30.0,5.0,2024-05-14,NaN
4,1021,Instagram,0.0,14.0,2024-05-12,NaN

## 3. Preparación de datos adicionales y merge

In [116]:
import pandas as pd

df_international = pd.read_csv('international_matches.csv')
df_teams = pd.read_csv('teams_info.csv')
df_2022 = pd.read_csv('2022_world_cup_matches.csv')


result = pd.merge(df_international, df_teams, left_on='Home Team', right_on='Team', how='right')
result_away = pd.merge(df_international, df_teams, left_on='Away Team', right_on='Team', how='right')


df_2022.merge(result, how='outer')
df_2022.merge(result_away, how='outer')

,ID,Year,Date,Stage,Home Team,Away Team,Host Team,Tournament,Home Goals,Away Goals,Win Conditions,Home Stadium,Team,Continent,Away Continent
0,1.0,NaN,1872-11-30,NaN,Scotland,England,NaN,Friendly,0.0,0.0,NaN,True,England,Europe,Europe
1,1.0,2022.0,2022-11-20,Group stage,Qatar,Ecuador,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,NaN,1873-03-08,NaN,England,Scotland,NaN,Friendly,4.0,2.0,NaN,True,Scotland,Europe,Europe
3,2.0,2022.0,2022-11-21,Group stage,Senegal,Netherlands,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,NaN,1874-03-07,NaN,Scotland,England,NaN,Friendly,2.0,1.0,NaN,True,England,Europe,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kiribati,Oceania,Oceania
16132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nauru,Oceania,Oceania
16133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Palau,Oceania,Oceania
16134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Marshall Islands,Oceania,Oceania
16135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Micronesia,Oceania,Oceania

## 4. Cálculo de probabilidades de victoria basada en histórico

In [ ]:
print("Tipos ANTES:")
print(df.dtypes)

# Convertir columnas numéricas que puedan venir como texto
df['screen_time(min)'] = df['screen_time(min)'].astype(float)

# notifications puede tener mezcla de enteros y strings -> forzamos conversión segura
df['notifications'] = pd.to_numeric(df['notifications'], errors='coerce').fillna(0).astype(int)

# Convertir fechas a datetime, forzando formato cuando hay mezcla
df['date'] = pd.to_datetime(df['date'], errors='coerce', dayfirst=True)

print("\nTipos DESPUÉS:")
print(df.dtypes)

display(df.head())

## 5. Análisis exploratorio

In [ ]:
# Eliminamos columnas que estén completamente vacías
df.dropna(axis=1, how='all', inplace=True)

print("Columnas actuales del DataFrame:")
print(df.columns.tolist())

## 6. Visualización

In [ ]:
# Normalizar nombres de apps:
# - quitar espacios en blanco
# - poner la primera letra en mayúscula de cada palabra
# - eliminar espacios internos (Instagram  -> Instagram, 'YouTube Music' -> 'Youtubemusic')
df['app_name'] = (
    df['app_name']
      .astype(str)
      .str.strip()
      .str.title()
      .str.replace(' ', '', regex=False)
)

display(df[['app_name']].head(10))

# Buscar todas las filas que contienen "Youtube"
youtube_rows = df[df['app_name'].str.contains('Youtube', case=False, na=False)]
print("Filas con Youtube:")
display(youtube_rows)

## 7. Métodos extra de cadena (`str.len`, `str.startswith`, etc.)

In [ ]:
# Longitud del nombre de la app
df['app_name_len'] = df['app_name'].str.len()

# Apps que empiezan por 'Y'
apps_y = df[df['app_name'].str.startswith('Y', na=False)]

print("Apps que empiezan por 'Y':")
display(apps_y[['app_name', 'app_name_len']].drop_duplicates())

display(df[['app_name', 'app_name_len']].head())

## 8. Detección de tipos mezclados en columnas

In [ ]:
print("Tipos actuales:")
print(df.dtypes)

print("\nTipo real de cada celda en las primeras filas:")
display(df.applymap(type).head())

# Convertir automáticamente al tipo más adecuado (opcional)
df = df.convert_dtypes()

print("\nTipos tras convert_dtypes():")
print(df.dtypes)

## 9. Guardar el dataset limpio

In [ ]:
df.to_csv('screentime_analysis_clean.csv', index=False)
print('Archivo screentime_analysis_clean.csv guardado correctamente.')

## 10. Mini análisis final por aplicación

In [3]:
# ¿Qué apps tienen más tiempo medio de pantalla?
screen_time_media = (
    df.groupby('app_name')['screen_time(min)']
      .mean()
      .sort_values(ascending=False)
)

print("Tiempo medio de pantalla (min) por app:")
display(screen_time_media)

# ¿Qué apps generan más notificaciones?
notif_media = (
    df.groupby('app_name')['notifications']
      .mean()
      .sort_values(ascending=False)
)

print("Notificaciones medias por app:")
display(notif_media)

Tiempo medio de pantalla (min) por app:

app_name
YouTube Music    130.0
YouTube          120.0
Netflix          110.0
Tik tok          100.0
YouTube Kids      95.0
  WhatsApp        80.0
WhatsApp          80.0
Telegram          60.0
Calendar Pro      50.0
Instagram         45.0
 instagram        30.0
TikTok             NaN
Name: screen_time(min), dtype: float64

Notificaciones medias por app:

app_name
  WhatsApp       15.0
Tik tok          12.0
Instagram        12.0
WhatsApp         12.0
YouTube Music     9.0
YouTube           8.0
YouTube Kids      7.0
Netflix           6.0
 instagram        6.0
Telegram          5.0
Calendar Pro      3.0
TikTok            NaN
Name: notifications, dtype: float64